<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Paint Electron Vue</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="./public/style.css">
</head>
<body>
    
    <div id="message-app">
        <div class="container row">
            <div class="channels">
                <div class="header">
                    <h1>Channels</h1>
                </div>
                
                <ul>
                    <li v-for="channel in channels">
                        {{ channel.name }}
                    </li>
                </ul>
            </div>

            <div class="messages col">
                <div class="header">
                    <h1>Messages</h1>
                </div>

                <div class="message-main">
                    <ul>
                        <li v-for="message in messages">
                            {{ message.text }}
                        </li>
                    </ul>
                </div>
                
                <form @submit.prevent="sendMessage" class="message-bar row">
                    <input id="m" class="input" autocomplete="off" v-model="msg"/>
                    <button class="button" type="submit">Send</button>
                </form>
            </div>

            <div class="users">
                <div class="header">
                    <h1>Users</h1>
                </div>
                
                <ul>
                    <li v-for="user in users">
                        {{ user.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js" onload="window.$ = window.jQuery = module.exports;"></script>
    
    <script src="./message-app.js"></script>    
</body>
</html>